@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}
html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #000;
  text-align: center;
}
